@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
  font-family: "Josefin Sans", sans-serif;
  color: gray;
}

body {
  background-color: #f3f3f3;
  width: 100%;
  background-image: url("/images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  color: grey;
}
.btn:hover {
  color: #3c9dfe;
}

.main-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.header__title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
}
.header__light-dark-toggle {
  cursor: pointer;
}

.input__container {
  margin: 1.7rem 0;
}
.input__field {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  border: none;
  padding: 0 2.5rem;
  font-size: 0.9rem;
  font-family: inherit;
  color: inherit;
}
.input__button {
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 0.6rem;
  border-radius: 50%;
  border: solid 1pt #d2d2d2;
  background-color: white;
}

.list__container {
  background-color: white;
  min-height: 50px;
  border-radius: 7px;
  margin-bottom: 1rem;
  -webkit-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
}

.show__stats-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.show__item-left {
  color: inherit;
  font-size: 0.85rem;
}
.show__stats-middle {
  display: inherit;
  justify-content: space-around;
  position: absolute;
  top: 100px;
  left: -16px;
  width: 110%;
  background-color: white;
  height: 50px;
  border-radius: 7px;
  -webkit-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  -moz-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
}
.show__all {
  color: #00aaff;
}
.show__reorder {
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
  color: inherit;
  font-size: 0.8rem;
}

.list__dynamic {
  position: relative;
  list-style-type: none;
  border-bottom: solid 1pt #d8d8d8;
  padding: 0.7rem 0.6rem;
  color: inherit;
}
.list__dynamic:hover {
  background-color: antiquewhite;
}
.list__dynamic:nth-child(1) {
  border-radius: 7px 7px 0 0;
}

.completed {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, #99ebff 0%, #c44dff 50%, #6330b5 100%);
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.completed__image {
  text-align: center;
  padding: 0.25rem;
}

.attribution {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
}

.btnD {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
}
.btnD:hover {
  cursor: pointer;
}
.btnD img {
  width: 15px;
  height: 15px;
}

.btn2 {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: linear-gradient(153deg, #8393de 0%, #c82ec1 6%, #c298e7 100%);
  border: none;
  position: absolute;
  left: 15px;
}
.btn2:hover {
  cursor: pointer;
}

.li {
  text-decoration-line: line-through;
  color: blue;
}

@media only screen and (min-width: 500px) {
  body {
    background-image: url("/images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .show__stats-middle {
    top: 3px;
    left: 30%;
    width: 40%;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .show__reorder {
    top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background-size: auto;
  }
}

/*# sourceMappingURL=style.css.map */
