@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
  font-family: 'Josefin Sans', sans-serif;
  color: gray;
}
body {
  background-color: rgb(243, 243, 243);
  width: 100%;
  background-image: url('/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
//  background image, cover and auto strecthes the image, contain makes it responsive,

.btn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  color: grey;
  &:hover {
    color: rgb(60, 157, 254);
  }
}
// MAIN CONTAINER
.main-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
}
// MAIN CONTAINER END

// HEADER
.header {
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  &__title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 20px;
  }
  &__light-dark-toggle {
    cursor: pointer;
  }
}
// HEADER END

// INPUT
.input {
  &__container {
    margin: 1.7rem 0;
  }
  &__field {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    padding: 0 2.5rem;
    font-size: 0.9rem;
    font-family: inherit;
    color: inherit;
  }
  &__button {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0.6rem;
    border-radius: 50%;
    border: solid 1pt rgb(210, 210, 210);
    background-color: white;
  }
}
// LIST CONTAINER

.list {
  &__container {
    background-color: white;
    min-height: 50px;
    border-radius: 7px;
    margin-bottom: 1rem;
    //padding: 1rem;
    -webkit-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
    -moz-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
    box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  }
}
// STATS CONTAINER
.show {
  &__stats-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  &__item-left {
    color: inherit;
    font-size: 0.85rem;
  }
  &__stats-middle {
    display: inherit;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    left: -16px;
    width: 110%;
    background-color: white;
    height: 50px;
    border-radius: 7px;
    -webkit-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
    -moz-box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
    box-shadow: -1px 11px 15px -3px rgba(50, 50, 50, 0.39);
  }
  &__all {
    color: rgb(0, 170, 255);
  }

  &__reorder {
    position: absolute;
    top: 180px;
    width: 100%;
    text-align: center;
    color: inherit;
    font-size: 0.8rem;
  }
}
// STATS CONTAINER END

// LI
.list__dynamic {
  position: relative;
  list-style-type: none;
  border-bottom: solid 1pt rgb(216, 216, 216);
  padding: 0.7rem 2rem;
  color: inherit;
  &:hover {
    background-color: antiquewhite;
  }
  &:nth-child(1) {
    border-radius: 7px 7px 0 0;
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
}
.btnD {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 15px;
    height: 15px;
  }
}
.btn2 {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background: linear-gradient(
    153deg,
    rgba(131, 147, 222, 1) 0%,
    rgba(200, 46, 193, 1) 6%,
    rgba(194, 152, 231, 1) 100%
  );
  border: none;
  position: absolute;
  left: 15px;
  &:hover {
    cursor: pointer;
  }
}

.li{
text-decoration-line: line-through;
color: blue;
}
// MOBILE
@media only screen and (min-width: 500px) {
  body {
    background-image: url('/images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .show {
    &__stats-middle {
      top: 3px;
      left: 30%;
      width: 40%;
      background: none;
      //height: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    &__reorder {
      top: 80px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-size:auto;
  }
}
